{% extends 'base2.html' %}
{% load static %}

{% block maincontent %}
<style>
    .btn {
        background-color: #4CAF50;
        color: #ffffff;
    }
</style>
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{ request.user.first_name|capfirst }}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'passwordchange' %}" class="btn">Change password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <form action="{% url 'passwordchange' %}" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small><br>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{ error }}</p>
                {% endfor %}
            {% endif %}

            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }}" role="alert">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock maincontent %}
