{% extends 'base2.html' %}
{% load static %}

{% block maincontent %}
<div class container my-5>
    <div class="row>">
    <!-- <h3> Welcome <span class="text-capitalize">{{ request.user.first_name|capfirst }}</span> </h3> -->
    <br>
    <div class="col-sm-2 border-end">
     
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
        <h3 style="font-style: italic;font-family: 'Times New Roman', Times, serif;">Password Changed Succesfully!!</h3>
        <div>
            <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="50" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
    </div>
</div>

{% endblock maincontent %}